body{
   background-color: hsl(212, 45%, 89%);
}


.parent{
    height: 175px;
    width: 115px;
    background-color:white;
    border-radius: 5px;

    
    margin: auto;
    


}

.child{

    position: relative;
    left: 7px;
    top: 5px;
    right: px;
    
}

.corners{
    border-radius: 5px;
}

.child-two{
    text-align: center;
    color:hsl(218, 44%, 22%);
    font-family: outfit;
    font-weight: 700;
    font-size: 4px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.child-three{

    font-family: outfit;
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-weight: 400;
    font-size: 5.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
   
}
.attribution{

    font-family: outfit;
    color: black;
    font-size: small;
    padding: 10px;
}